*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body{
    background-color: rgba(240, 229, 145, 0.5);
}

h1{
    font-weight: 600;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart{
    background-color: rgba(248, 249, 250, 0.7);
    margin: 5% 10% 0 10%;
    padding: 2%;
    border-radius: 2%;
}